[package]
name = "<%= crate_name %>"
version = "0.1.0"
authors = []
edition = "2021"

[lib]
name = "<%= crate_name %>"
path = "lib.rs"
crate-type = ["cdylib"]

[dependencies]
<%= 
    dependencies 
    |> Enum.map(fn {dep, dep_spec} -> "#{dep} = #{dep_spec}" end) 
    |> Enum.join("\n")
%>
